<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/style.css}">

	<!-- jQuery（先に読み込む） -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

    <!-- DatepickerのCSS/JS -->
    <link rel="stylesheet" th:href="@{/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css}" />
    <script th:src="@{/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ja.min.js}"></script>

<title>食材追加</title>
</head>
<body>
	<div class="form-body">
	<h1>食材追加</h1> 

	<form th:action="@{/users}" th:object="${form}" method="POST">

		<div class="form-row">
			<label for="name">食材</label>
				<input type="text" th:field="*{name}" />
					<div class="feedback-area invalid-feedback" id="rawPassword-error"></div>
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class=invalid-feedback></div>
		</div>
		
		<div class ="form-row">
					<label for="categoryId">カテゴリー</label>
						<select th:field ="*{categoryId}">
							<option th:each ="category :${categories}"
								th:value ="${category.id}"
								th:text ="${category.name}">
							</option>
						</select>
				</div>


		<div class="form-row">
			<label for="deadline">期限</label>
				<input type="text" th:field="*{deadline}"class="form-control"id="deadlineDate" />
		</div>

		<div class="form-row">
			<label for="purchaseDate">購入日</label>
				<input type="text" th:field="*{purchaseDate}"class="form-control"id="purchaseDate" />
					<div th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}" class=invalid-feedback></div>
		</div>

		<div class="form-row">
			<label for="amount">量</label>
				<input type="text" th:field="*{amount}" />
					<div class="feedback-area invalid-feedback" id="amount-error"></div>
					<div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class=invalid-feedback></div>
		</div>

		<div class="form-row">
					<label for="others">その他</label>
						<input type="text" th:field="*{others}" />
							<div class="feedback-area invalid-feedback" id="others-error"></div>
							<div th:if="${#fields.hasErrors('others')}" th:errors="*{others}" class=invalid-feedback></div>
				</div>

		<input type="submit" value="追加">
		<a th:href="@{/users}" class="button">戻る</a>

	</form>
	</div>
	
	<script>
	    $(function () {
	        $('#deadlineDate').datepicker({
	            format: 'yyyy/mm/dd',
	            language: 'ja',
	            autoclose: true
	        });

	        $('#purchaseDate').datepicker({
	            format: 'yyyy/mm/dd',
	            language: 'ja',
	            autoclose: true
	        });
	    });
	</script>

</body>
</html>