<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>

<h2>ユーザー登録</h2>

<form th:action="@{/register}"th:object="${registerForm}" method="post">

	<div>
	    <label>ユーザー名</label>
	    <input type="text" th:field="*{loginId}">
	    <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" style="color:red"></p>
	</div>

	<div>
	    <label>パスワード</label>
	    <input type="password" th:field="*{password}">
	    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></p>
	</div>

	<div>
	    <label>確認用パスワード</label>
	    <input type="password" th:field="*{confirmPassword}">
	    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color:red"></p>
		<p th:if="${confirmPassworderrorMessage}" th:text="${confirmPassworderrorMessage}" style="color:red;"></p>
	</div>

	<div>
	    <label>メールアドレス</label>
	    <input type="email" th:field="*{email}">
	    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></p>
	</div>
	
	<div>
	    <button type="submit">登録</button>
	</div>
	
	<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

</form>

<p>
    <a th:href="@{/login}">ログイン画面へ戻る</a>
</p>

</body>
</html>