<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.itemmanagement.mapper.ItemMapper">
	<select id="findAll" resultType="com.example.itemmanagement.entity.Items">
  <![CDATA[
    SELECT
      items.id,
      items.name,
      items.category_id AS categoryId,
      items.amount,
      items.deadline,
      items.purchase_date AS purchaseDate,
      items.others,
      items.status,
      items.favorite_flg AS favorite,
      categories.name AS categoryName
    FROM
      items
    INNER JOIN categories
      ON items.category_id = categories.id
    WHERE
      items.status <> 0
    ORDER BY 
      items.id ASC
  ]]>
	</select>
	
	<insert id="add">
		INSERT INTO items(
			name,
			category_id,
			amount,
			deadline,
			purchase_date,
			others,
			status,
			favorite_flg 
		) VALUES (
			#{name},
			#{categoryId},
			#{amount},
			#{deadline},
			#{purchaseDate},
			#{others},
			#{status},
			#{favorite}
		)
	</insert>
	
	<update id="stop">
   		 UPDATE
   		 	items
   		 SET 
			status = 0
   		 WHERE 
   		 	id = #{id}			<!-- #{id} が Mapper 引数の id に置き換わる -->
	</update>
	
	<select id="findById" parameterType="int" resultType="com.example.itemmanagement.entity.Items">
    SELECT 
        i.id,
        i.name,
        i.category_id AS categoryId,
        c.name AS categoryName,
        i.amount,
        i.deadline,
        i.purchase_date AS purchaseDate,
        i.others,
        i.status,
        i.favorite_flg AS favorite
    FROM items i
   		 LEFT JOIN categories c ON i.category_id = c.id
    WHERE i.id = #{id}
	</select>

 	<update id="update" parameterType="com.example.itemmanagement.entity.Items">
        UPDATE items
        SET 
            name = #{name},
            category_id = #{categoryId},
            amount = #{amount},
            deadline = #{deadline},
            purchase_date = #{purchaseDate},
            others = #{others},
            favorite_flg = #{favorite}
        WHERE id = #{id}
        
    </update>
    
    <update id="updateFavorite" parameterType="com.example.itemmanagement.entity.Items">
    UPDATE items
    SET favorite_flg = #{favorite}
    WHERE id = #{id}
	</update>
    
<insert id="insert" parameterType="com.example.itemmanagement.entity.Items">
  INSERT INTO shopping_list(
    item_id,
    name,
    category_id,
    amount,
    purchase_date
  ) VALUES (
    #{id},
    #{name},
    #{categoryId},
    #{amount},
    #{purchaseDate}
  )
</insert>


</mapper>	