<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.itemmanagement.mapper.RecipeMapper">

    <insert id="insertRecipe" parameterType="com.example.itemmanagement.entity.Recipe">
        INSERT INTO recipes (
            user_id,
            recipe_name,
            description,
            ingredients_json,
            steps_json,
            source_items_json,
            favorite,
            status,
            created_at
        ) VALUES (
             #{userId},
             #{recipeName},
             #{description},
             #{ingredientsJson},
             #{stepsJson},
             #{sourceItemsJson},
             #{favorite},
             #{status},
             #{createdAt}
        )
    </insert>

<select id="selectRecipe" parameterType="com.example.itemmanagement.entity.Recipe">
        SELECT *
        FROM
            recipes
        WHERE
            recipes.user_id = #{userId}
        AND
            id = (SELECT MAX(id) FROM recipes)
</select>


<select id="selectByUserId" parameterType="com.example.itemmanagement.entity.Recipe">
        SELECT
            id,
            user_id,
            recipe_name AS recipeName,
            description,
            ingredients_json AS ingredientsJson,
            steps_json AS stepsjson,
            created_at AS createdAt
        FROM recipes
        WHERE recipes.user_id = #{userId}
        ORDER BY created_at DESC
        LIMIT 30
</select>



</mapper>