<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.itemmanagement.mapper.ShoppingListMapper">

    <insert id="insert" parameterType="com.example.itemmanagement.entity.ShoppingListItem" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO shopping_list (
        	item_id,
        	user_id,
       	    status,
        	added_at,
        	purchased_flg,
        	name,
        	amount,
        	category_id,
        	category_name,
       		purchase_date
  	 	 ) VALUES (
        	#{itemId},
        	#{userId},
        	#{status},
        	#{addedAt},
        	#{purchasedFlg},
        	#{name},
        	#{amount},
        	#{categoryId},
        	#{categoryName},
        	#{purchaseDate}
    	)
    </insert>
    
    <select id="findAll" resultType="com.example.itemmanagement.entity.ShoppingListItem">
    SELECT *
    FROM shopping_list
    WHERE 
     user_id = #{userId}
    AND
     status = true
    ORDER BY added_at DESC
    </select>

    <select id="countByUserId" resultType="int">
    SELECT COUNT(*)
    FROM shopping_list
    WHERE user_id = #{userId}
    AND status = true
    AND purchased_flg = false
    </select>

    <update id="stop">
    UPDATE
   		shopping_list
   	SET 
		status = false
   	WHERE 
   		id = #{id}			
   	AND 
   		user_id = #{userId}
	</update>

	<select id="existsByName" resultType="boolean">
		SELECT EXISTS(
			SELECT 1
			FROM shopping_list
			WHERE name = #{name}
			  AND user_id = #{userId}
			  AND status = true
		)
	</select>

</mapper>
