<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.itemmanagement.mapper.UsersMapper">

  <select id="findByLoginId" resultType="com.example.itemmanagement.entity.Users">
    SELECT
        id,
        user_name AS loginId,
        password
    FROM
        users
    WHERE
        user_name = #{loginId}
  </select>
  
  <insert id="insertUser" parameterType="com.example.itemmanagement.entity.Users">
    INSERT INTO users (
        user_name,
        password,
        email
    ) VALUES (
        #{loginId},
        #{password},
        #{email}
    )
</insert>

  <select id="findEmailById" resultType="string">
    SELECT 
        email
    FROM 
        users
    WHERE 
        id = #{id}
  </select>


</mapper>